// +++++ COLOR +++++
// Primary Color
$primary-color-1: #7264d6;
$primary-color-2: #212832;
$primary-color-3: #696d76;

// Other Color
$white-color: #fff;
$black-color: #000;
// +++++++++++++++++

// +++++ FONT +++++
$primary-font-family: "Open Sans", sans-serif;

$font-weight-bold: 700;
$font-weight-semibold: 600;

$line-height: 1.75;
// ++++++++++++++++
